<%= @response %>

<form ng-controller="FormCtrl as formCtrl"
  ng-submit="formCtrl.submit()" name="formCtrl.form">

  <input type="text" name="command" ng-model="formCtrl.command" required />
  <button type="submit">Submit</button>

</form>
