<div class="game">
  <form ng-controller="FormCtrl as formCtrl"
    ng-submit="formCtrl.submit()" name="formCtrl.form">

    <label class="prompt">$</label><input
      type="text" name="command" id="command"
      ng-model="formCtrl.command" required autofocus
      ng-pattern="/([A-Z]+\s[a-z_]+(\s[a-z_]+)?)+(&&)?/" />

  </form>

  <form-output></form-output>
</div>
