<div class="landing">
  <%= render 'logo' %>

  <h1>Backstory</h1>

  Grumbles is a lame Wizard.<br>
  Coming soon to a “CLI” near you™

  <br><br>

  <%= link_to 'Play game', game_root_path %>
</div>
