<!DOCTYPE html>
<html lang="en" ng-app="grumbles">
  <head>
    <title>Grumbles the Lame Wizard</title>

    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :application %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <a href="https://github.com/railsrumble/r14-team-354"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 200000" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>

    <%= yield %>

    <!-- Place this before your </body> tag. -->
    <script type="text/javascript">
      var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
      rumbleBannerBackgroundColor = "#161616";
      rumbleBannerTextColor = "#b0b0b0";
      rumbleBannerLinkColor = "#ffffff";
      rumbleBannerPlacement = "top";
    </script>
    <script src="http://s0.railsrumble.com/banner-2014.js" type="text/javascript"></script>

    <!-- Place this code before your site's </body> tag. -->
    <script type="text/javascript" charset="utf-8">
      var _swell_site_ids = _swell_site_ids || [];
      _swell_site_ids.push('0f2b08b0');
      (function() {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = '//df50assd5876f.cloudfront.net/assets/hello-3b9181727ebdc6002c5bb5da48a2257f.js';
        ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
      })();
    </script>
    <noscript>
      <img src="//heyswell.com/v1/hello.gif?sites=0f2b08b0&javascript=0"/>
    </noscript>

  </body>
</html>
