<!DOCTYPE html>
<html lang="en" ng-app="grumbles">
  <head>
    <title>Grumbles the lame Wizard</title>

    <%= stylesheet_link_tag    :application, media: :all %>
    <%= javascript_include_tag :application %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <!-- Place this before your </body> tag. -->
    <script type="text/javascript">
      var rumbleBannerBackgroundColor, rumbleBannerTextColor, rumbleBannerLinkColor, rumbleBannerPlacement;
      rumbleBannerBackgroundColor = "#161616";
      rumbleBannerTextColor = "#b0b0b0";
      rumbleBannerLinkColor = "#ffffff";
      rumbleBannerPlacement = "top";
    </script>
    <script src="http://s0.railsrumble.com/banner-2014.js" type="text/javascript"></script>

  </body>
</html>
